In [28]:
import pandas as pd

In [29]:
df= pd.read_csv('/content/DFORE129D2.zip', compression='zip', low_memory= False)

In [31]:
df['BaseCycleBkt']= pd.cut(x=df.BaseCycle, bins=[-1, 0, 1, 10000000],
                    labels=['Zeros', 'Ones', 'MoreThanOne'])

In [32]:
df.BaseCycleBkt.value_counts()

Zeros          3145788
Ones           1634886
MoreThanOne       1549
Name: BaseCycleBkt, dtype: int64

In [35]:
df['TopOffsBkt']= pd.cut(x=df.TopOffs, bins=[-1, 0, 1, 9,99,999,9999, 99999999999999999],
                    labels=['Zeros', 'Ones', 'Units', 'Tens', 'Hundreds', 'Thousands', 'EvenMore000'])

In [43]:
df['payment_channel']= df.payment_type.map({'Coin': 'Cash', 'bill': 'Cash', 
                                            'Apple-Pay': 'MicroTxn', 
                                            'Google-Pay': 'MicroTxn', 
                                            'CreditCard-SR': 'MicroTxn', 
                                            'Stored-Value': 'Stored-Value'})

In [45]:
pd.crosstab(df.payment_channel, df.source, margins=True)

source           Botsms  Botvoice  Consumerapp  Kiosk  Machine  Webapp      All
payment_channel
Cash                  0         0            0      3  3955825       0  3955828
MicroTxn              0         0        53051   4945        0  117457   175453
Stored-Value         63        22       208833    119        0       0   209037
All                  63        22       261884   5067  3955825  117457  4340318

In [51]:
pd.crosstab(df.BaseCycleBkt, df.TopOffsBkt, margins=True)

TopOffsBkt      Zeros     Ones   Units  ...  Thousands  EvenMore000      All
BaseCycleBkt                            ...
Zeros               0  2742531  400450  ...         29           15  3145788
Ones          1573565    34024   25487  ...         95           26  1634886
MoreThanOne      1497       27      17  ...          3            0     1549
All           1575062  2776582  425954  ...        127           41  4782223

[4 rows x 8 columns]

In [53]:
df1= df.loc[df.payment_channel== 'Stored-Value']
pd.crosstab(df1.BaseCycleBkt, df1.TopOffsBkt, margins= True)

TopOffsBkt     Zeros  Ones  Units     All
BaseCycleBkt
Zeros              0  7991      4    7995
Ones          205810     1      0  205811
MoreThanOne       31     0      0      31
All           205841  7992      4  213837

In [48]:
df1= df.loc[df.payment_channel== 'Cash']
pd.crosstab(df1.BaseCycleBkt, df1.TopOffsBkt)

TopOffsBkt      Zeros     Ones   Units  Tens  Hundreds  Thousands  EvenMore000
BaseCycleBkt
Zeros               0  2728894  400437  2581       182         29           15
Ones          1182567    33864   25484  1547       142         95           26
MoreThanOne       584       23      17     2         3          3            0

In [54]:
df1= df.loc[df.payment_channel== 'MicroTxn']
pd.crosstab(df1.BaseCycleBkt, df1.TopOffsBkt, margins= True)

TopOffsBkt     Zeros  Ones  Units     All
BaseCycleBkt
Zeros              0  3627      9    3636
Ones          183772     5      3  183780
MoreThanOne      870     2      0     872
All           184642  3634     12  188288

In [27]:
df.TopOffs.describe()

count    4.782223e+06
mean     1.553609e+00
std      1.418718e+02
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.372230e+05
Name: TopOffs, dtype: float64

In [24]:
df.groupby(['source'])['TopOffs','BaseCycle'].agg('describe')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

               TopOffs                             ... BaseCycle
                 count      mean         std  min  ...       25%  50%  75%    max
source                                             ...
Botsms            63.0  0.000000    0.000000  0.0  ...       1.0  1.0  1.0    1.0
Botvoice          22.0  0.000000    0.000000  0.0  ...       1.0  1.0  1.0    1.0
Consumerapp   261884.0  0.036169    0.186710  0.0  ...       1.0  1.0  1.0    1.0
Kiosk           5067.0  0.031380    0.192645  0.0  ...       1.0  1.0  1.0    7.0
Machine      3955825.0  1.789817  155.985804  0.0  ...       0.0  0.0  0.0  100.0
Webapp        119288.0  0.025049    0.156273  0.0  ...       1.0  1.0  1.0    1.0

[6 rows x 16 columns]

In [19]:
df.head()

                     vendor_location_id  ... LengthofTime
0                                   NaN  ...            0
1  7b489ead-dcaa-4e0b-98e2-69bd171700d0  ...            0
2                                 30451  ...            0
3                               2022296  ...            0
4                                 51501  ...            0

[5 rows x 17 columns]

In [ ]:
df.loc[(df.source=='Kiosk') & (df.BaseCycle==0)].sort_values('AllTxn', ascending= False).head(20).to_csv('KiosksTopOffswoBaseCycle.csv')

In [ ]:
df['AllPayTypes']= df.Coins+df.MicroTxn+df.StoredValue

In [ ]:
df.AllPayTypes.value_counts()

1      4316093
6       227126
8        65672
7        49695
2        47112
        ...
853          1
854          1
867          1
869          1
326          1
Name: AllPayTypes, Length: 473, dtype: int64

In [ ]:
df.loc[(df.Coins!=0) & (df.MicroTxn !=0) & (df.StoredValue!=0)]

Empty DataFrame
Columns: [vendor_location_id, source, client_account_id, payment_type, correlation_id, consolUser, AllTxn, TopOffs, BaseCycle, Coins, MicroTxn, StoredValue, VendAmtAll, VendAmtOnly, VendFees, EventStamp, LengthofTime, AllPayTypes]
Index: []

In [ ]:
df.loc[df.AllPayTypes== 10]

                           vendor_location_id  ... AllPayTypes
1338                                  4420997  ...          10
3102                                  4420997  ...          10
11556    4a0f895f-934e-4c6d-884b-647799751b47  ...          10
21858                                 4420997  ...          10
33903    51febe05-15df-4349-9f02-99278da4de67  ...          10
...                                       ...  ...         ...
4776354                                 53847  ...          10
4776431                               4420997  ...          10
4777463                               2021520  ...          10
4780762                                 55254  ...          10
4781803                               4420997  ...          10

[2445 rows x 18 columns]